*{
    margin: 0%;
    padding: 0%;
}


nav{
    background:white;
    width: 100%;
    height: 60px;
    position: fixed;
    border-bottom: 3px solid  rgb(6, 6, 6);
    margin-top: 0%;
    
}
nav ul {
    float: right;
    display: flex;
    list-style:none ;
    margin-right:px ;
    margin-top: -3.1px;

}
nav ul li a{
    color: rgb(9, 9, 9);
    line-height:60px ;
    padding:12px 20px  ;
    font-size: 17px;
    font-weight: 200;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 12px;
    margin-top: px;
}
nav ul li a:hover{
    background-color:#bec3ce7d
}


    

body{
    
    background-color:white;
}
h1 {
    color: black;
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    
}
h3{
    text-align: center;
}
p{
    color: beige;
    text-align: center;
}
.box {
    width: 200px; height: 200px;background-color:rgb(7, 7, 7);
    text-align: center;
    padding: 40px ;
    margin-left: 60px;
    border-radius: 13%;
    margin-top: 50px;
    border: 20px solid b;

    


}
.box p {
    font-size: medium;
    font-weight: 900;
    color:white;
}

.logo{
    display: flex;
    margin: x;
    height: 32px;
    width: 60px;
    margin-right: 17;
    align-self:center;
    border: none;
    

}
.pee{
    height:18px;
}

